<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YOLOv8 Object Detection</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <input id="uploadInput" type="file"/>
    <canvas></canvas>
    <script>
       const input = document.getElementById("uploadInput");
       input.addEventListener("change", async (event) => {
           const file = event.target.files[0];
           const data = new FormData();
           data.append("image_file", file, "image_file");
           
           try {
               const response = await fetch("/detect", {
                   method: "POST",
                   body: data
               });

               if (!response.ok) {
                   throw new Error('Error during detection');
               }

               const boxes = await response.json();
               draw_image_and_boxes(file, boxes);
           } catch (error) {
               console.error('Error:', error);
               alert('Error during detection. Please try again.');
           }
       });

       function draw_image_and_boxes(file, boxes) {
           const img = new Image();
           img.src = URL.createObjectURL(file);
           img.onload = () => {
               const canvas = document.querySelector("canvas");
               const ctx = canvas.getContext("2d");

               // Clear previous content on the canvas
               ctx.clearRect(0, 0, canvas.width, canvas.height);

               canvas.width = img.width;
               canvas.height = img.height;
               ctx.drawImage(img, 0, 0);

               ctx.strokeStyle = "#00FF00";
               ctx.lineWidth = 3;
               ctx.font = "18px serif";

               boxes.forEach(([x1, y1, x2, y2, label]) => {
                   ctx.strokeRect(x1, y1, x2 - x1, y2 - y1);

                   // Draw label background
                   ctx.fillStyle = "#00FF00";
                   const textWidth = ctx.measureText(label).width;
                   ctx.fillRect(x1, y1 - 20, textWidth + 10, 25);

                   // Draw label text
                   ctx.fillStyle = "#000000";
                   ctx.fillText(label, x1 + 5, y1);
               });
           };
       }
    </script>  
</body>
</html>
